<IfModule mod_rewrite.c>
	RewriteEngine On
	Options +FollowSymlinks
	RewriteBase /

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^gallery$ gallery.php [L,QSA]
	#php_value max_file_uploads 5
</IfModule>

