@font-face{
	font-family: Chelsea-Market;
	src: url(../fonts/chelsea-market/ChelseaMarket-Regular.ttf);
}

@font-face{
	font-family: Telegrafico;
	src: url(../fonts/Telegrafico-regular/Telegrafico-regular.ttf);
}


@font-face{
	font-family: Geneva;
	src: url(../fonts/Geneva/Geneva.ttf);
}

@font-face{
	font-family: Miriad;
	src: url(../fonts/Miriad/MiriadPro.ttf);
}




html {
	width: 100%;
	height: 100%;
}


body {
	margin: 0;
	width: 100%;
	height: 100%;
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}


.header_top{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6633+1,ff3333+100 */
	background: #ff6633; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff6633 1%, #ff3333 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ff6633 1%,#ff3333 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ff6633 1%,#ff3333 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6633', endColorstr='#ff3333',GradientType=0 ); /* IE6-9 */
	min-height: 80px;
}

.header_top-flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
}

.header_top_left{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_top_left_img{
	display: block;
	max-width: 32px;
	max-height: 41px;	
}

.header_top_left_img_a{
	display: block;
	text-decoration: none;
	width: 145px;
	height: 41px;
}

.header_top_left_logo{		
	font-family: Chelsea-Market, Arial, sans-serif;
	font-size: 30px;
	color: #fff;
	padding: 0 19px 0 7px; 
}

.header_top_left_motto{	
	font-family: Telegrafico, Arial, sans-serif;
	font-size: 12px;
	color: #fff;
	padding-top: 5px;	
}

.header_top_right{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_top_right_menu-cart_menu-item{
	margin-top: 18px;
}


.header_top_right_menu-cart_item{
	display: inline-block;
	margin: 0 7px;	
}

.header_top_right_menu-cart a{
	text-decoration: none;
	color: #fff;
	font-family: Telegrafico, Arial, sans-serif;
	font-size: 12px;
}

.header_top_right_menu-img{
	width: 33px;
	height: 33px;
	display: block;	
	position: relative;
	background: url(../img/cart.png);
	background-size: cover;
	}	

.header_top_right_menu-img:hover {
	background: url(../img/cart-metal.png);
}


.header_top_right_menu-img_number{
	position: absolute;
	left: 25px;
	bottom: 25px;
	width: 20px;
	height: 19px;	
	font-size: 12px;
	line-height: 19px;	
	font-family: Miriad, Arial, sans-serif;
	text-align: center;
	color: #fff;
}

.header_top_right_menu-bubble{
	position: absolute;
	left: 25px;
	bottom: 25px;
	width: 20px;
	height: 19px;	
}

.header_middle{
	background: url(../img/background-header-middle.png);
	min-height: 70px;
	
	
}

.header_bottom{
	background: url(../img/background-header-bottom.png);
	min-height: 65px;
}


.empty{
	height: 460px;
}

.footer{
	text-align: center;
	height: 460px;
	margin-top: -460px;
	position: relative;
}



