<!DOCTYPE html>
<html lang="ru-Ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iMagazine</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css">	
</head>
<body>		
		<div class="wrapper">
				<header class="header">					
						<div class="header_top">
							<div class="container header_top-flex">
								<div class="header_top_left">
									<div class="header_top_left_img">
										<a href="#" class="header_top_left_img_a">
											<img src="img/logo.png" alt="Логотип" title="Логотип">
										</a>
									</div>
										<a href="#" class="header_top_left_img_a">
											<div class="header_top_left_logo">Bonfire</div>
										</a>
									<div class="header_top_left_motto">so turn the lights out</div>
								</div>
								<div class="header_top_right">
									<div class="header_top_right_menu-cart">
										<ul class="header_top_right_menu-cart_menu-item">
											<li class="header_top_right_menu-cart_item">
												<a href="#" class="">wish list (0)</a>
											</li>
											<li class="header_top_right_menu-cart_item">
												<a href="#" class="">my account</a>
											</li>
											<li class="header_top_right_menu-cart_item">
												<a href="#" class="">shopping cart</a>
											</li>
											<li class="header_top_right_menu-cart_item">
												<a href="#" class="">checkout</a>
											</li>
										</ul>
									</div>
									<div class="header_top_right_menu-img">										
											<div class="header_top_right_menu-bubble">
												<img src="img/bubble.png" alt="" title="">
											</div>
										<div class="header_top_right_menu-img_number">0</div>
									</div>

								</div>
							</div>
						</div>
						<div class="header_middle">
							<div class="container">
								2
								
							</div>
						</div>
						<div class="header_bottom">
							<div class="container">
								3
							</div>
						</div>
				</header>
				<main>	
				    <div class="nav">
					  <nav>
					  </nav>
					</div>
				  		
					<div class="aside">
					  <aside>
					  </aside>
					</div>
					
					<div class="section">
						<section>
						</section>
					</div>
				</main>
				<div class="empty"></div>
		</div>	
		<footer>
				<div class="container">
					<div class="footer">
						Copyright Носков П. И. © 2017
					</div>
				</div>
		</footer>			
</body>
</html>