<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>1</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<div class="container">
    <div class="wrapper">
        <header>
            <div class="logo"><a href="#">Deals fest</a></div>
            <div class="account">
                <div class="account_cart">
                    <div class="account_cart-cart">
                        <a href="#"><img src="img/cart.png" alt="cart" title="cart"></a>
                    </div>
                    <div class="account_cart-amount">$ 521</div>
                    <div class="account_cart-checkout"><a href="#">Checkout</a></div>
                </div>
                <div class="account_reg">
                    <div class="account_signIn"><a href="#">Sign in</a></div>
                    <div class="account_pipe">|</div>
                    <div class="account_signUp"><a href="#">Sign up</a></div>
                </div>
            </div>
        </header>
        <nav>
            <div class="topMenu">
                <div class="menu">
                    <div class="menu_hot"><a href="#"><p>Hot Deals</p></a></div>
                    <div class="menu_day"><a href="#"><p>Deal of the day</p></a></div>
                    <div class="menu_recent"><a href="#"><p>Most recent</p></a></div>
                </div>
                <div class="select">
                    <div class="select_menu">
                        <span>Select your city</span>
                        <img src="img/select-icon.png">
                    </div>
                    <ul class="select_dropdown">
                        <li>Moscow</li>
                        <li>Saint-Petersburg</li>
                        <li>Penza</li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="content_main">
                <main class="main">
                    <h1>Lorem Ipsum is simply dummy text of the printing</h1>
                    <div class="main_img">
                        <img src="img/main_img.png" alt="main" title="main">
                    </div>
                    <div class="main_p1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                        took
                        a galley of type and scrambled it to make a type specimen book. It has survived not only five
                        centuries
                    </div>
                    <div class="main_info">
                        <div class="main_info-img"><img src="img/main_info_img.jpg" alt="main-info" title="main-info">
                        </div>
                        <div class="main_info-info">
                            <h2>Phone number</h2>
                            <p class="number">99 - 998 547 533</p>
                            <div class="label"><img src="img/label.png" title="label" alt="label"></div>
                            <h3>Address</h3>
                            <p class="text">Lorem Ipsum is simply Dummy text of the printing And typesett</p>
                        </div>
                    </div>
                    <div class="main_p2">
                        <p class="main_p2-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type
                            and scrambled it to make a type specimen book. It has survived not only five centuries but
                            also the
                            leap into electronic typesetting, remaining essentially unchanged.</p>
                        <br>
                        <p class="main_p2-p">It was popularised in the 1960s with the release of Letraset sheets
                            containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions
                            of Lorem
                            Ipsum.It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                            Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions
                            of Lorem Ipsum. release of Letraset sheets containing Lorem Ipsum passages, and more
                            recently with
                            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </main>
                <aside class="right">
                    <h2>Todays deals</h2>
                    <div class="lorem">
                        <h3>Lorem Ipsum is simply</h3>
                        <div class="lorem_value">
                            <div class="lorem_value-name">Value</div>
                            <div class="lorem_value-value">$90</div>
                        </div>
                        <div class="lorem_discount">
                            <div class="lorem_discount-name">Discount</div>
                            <div class="lorem_discount-value">15.1%</div>
                        </div>
                        <div class="lorem_save">
                            <div class="lorem_save-name">Save</div>
                            <div class="lorem_save-value">$20</div>
                        </div>
                        <div class="lorem_clearfix"></div>
                        <div class="lorem_img"><a href="#"><img src="img/lorem_img.jpg" title="lorem" alt="lorem"></a>
                        </div>
                        <div class="lorem_time-img"><img src="img/time.png"></div>
                        <div class="lorem_time-left">Time left</div>
                        <div id="lorem1" class="lorem_time-time">
                            <span class="hours"></span> :
                            <span class="minutes"></span> :
                            <span class="seconds"></span>
                        </div>
                    </div>
                    <div class="lorem">
                        <h3>Lorem Ipsum is simply</h3>
                        <div class="lorem_value">
                            <div class="lorem_value-name">Value</div>
                            <div class="lorem_value-value">$90</div>
                        </div>
                        <div class="lorem_discount">
                            <div class="lorem_discount-name">Discount</div>
                            <div class="lorem_discount-value">15.1%</div>
                        </div>
                        <div class="lorem_save">
                            <div class="lorem_save-name">Save</div>
                            <div class="lorem_save-value">$20</div>
                        </div>
                        <div class="lorem_clearfix"></div>
                        <div class="lorem_img"><a href="#"><img src="img/lorem_img.jpg" title="lorem" alt="lorem"></a>
                        </div>
                        <div class="lorem_time-img"><img src="img/time.png"></div>
                        <div class="lorem_time-left">Time left</div>
                        <div id="lorem2" class="lorem_time-time">
                            <span class="hours"></span> :
                            <span class="minutes"></span> :
                            <span class="seconds"></span>
                        </div>
                    </div>
                    <div class="lorem">
                        <h3>Lorem Ipsum is simply</h3>
                        <div class="lorem_value">
                            <div class="lorem_value-name">Value</div>
                            <div class="lorem_value-value">$90</div>
                        </div>
                        <div class="lorem_discount">
                            <div class="lorem_discount-name">Discount</div>
                            <div class="lorem_discount-value">15.1%</div>
                        </div>
                        <div class="lorem_save">
                            <div class="lorem_save-name">Save</div>
                            <div class="lorem_save-value">$20</div>
                        </div>
                        <div class="lorem_clearfix"></div>
                        <div class="lorem_img"><a href="#"><img src="img/lorem_img.jpg" title="lorem" alt="lorem"></a>
                        </div>
                        <div class="lorem_time-img"><img src="img/time.png"></div>
                        <div class="lorem_time-left">Time left</div>
                        <div id="lorem3" class="lorem_time-time">
                            <span class="hours"></span> :
                            <span class="minutes"></span> :
                            <span class="seconds"></span>
                        </div>
                    </div>
                    <div class="lorem">
                        <h3>Lorem Ipsum is simply</h3>
                        <div class="lorem_value">
                            <div class="lorem_value-name">Value</div>
                            <div class="lorem_value-value">$90</div>
                        </div>
                        <div class="lorem_discount">
                            <div class="lorem_discount-name">Discount</div>
                            <div class="lorem_discount-value">15.1%</div>
                        </div>
                        <div class="lorem_save">
                            <div class="lorem_save-name">Save</div>
                            <div class="lorem_save-value">$20</div>
                        </div>
                        <div class="lorem_clearfix"></div>
                        <div class="lorem_img"><a href="#"><img src="img/lorem_img.jpg" title="lorem" alt="lorem"></a>
                        </div>
                        <div class="lorem_time-img"><img src="img/time.png"></div>
                        <div class="lorem_time-left">Time left</div>
                        <div id="lorem4" class="lorem_time-time">
                            <span class="hours"></span> :
                            <span class="minutes"></span> :
                            <span class="seconds"></span>
                        </div>
                    </div>
                    <div class="lorem">
                        <h3>Lorem Ipsum is simply</h3>
                        <div class="lorem_value">
                            <div class="lorem_value-name">Value</div>
                            <div class="lorem_value-value">$90</div>
                        </div>
                        <div class="lorem_discount">
                            <div class="lorem_discount-name">Discount</div>
                            <div class="lorem_discount-value">15.1%</div>
                        </div>
                        <div class="lorem_save">
                            <div class="lorem_save-name">Save</div>
                            <div class="lorem_save-value">$20</div>
                        </div>
                        <div class="lorem_clearfix"></div>
                        <div class="lorem_img"><a href="#"><img src="img/lorem_img.jpg" title="lorem" alt="lorem"></a>
                        </div>
                        <div class="lorem_time-img"><img src="img/time.png"></div>
                        <div class="lorem_time-left">Time left</div>
                        <div id="lorem5" class="lorem_time-time">
                            <span class="hours"></span> :
                            <span class="minutes"></span> :
                            <span class="seconds"></span>
                        </div>
                    </div>

                </aside>
            </div>
            <div class="aside_left">
                <div class="aside_left_pos">
                    <div class="aside_left_container">
                        <div class="lorem">
                            <div class="lorem_value">
                                <div class="lorem_value-name">Value</div>
                                <div class="lorem_value-value">$90</div>
                            </div>
                            <div class="lorem_discount">
                                <div class="lorem_discount-name">Discount</div>
                                <div class="lorem_discount-value">15.1%</div>
                            </div>
                            <div class="lorem_save">
                                <div class="lorem_save-name">Save</div>
                                <div class="lorem_save-value">$20</div>
                            </div>
                            <div class="lorem_clearfix"></div>
                        </div>
                        <div class="time">
                            <div class="time_name">
                                <div class="time_name_text">Time left to purchase</div>
                                <div id="mainSale" class="time_name_value">
                                    <span class="days"></span> :
                                    <span class="hours"></span> :
                                    <span class="minutes"></span> :
                                    <span class="seconds"></span>
                                </div>
                            </div>
                            <div class="time_value">
                                <div class="time_value-day">Days</div>
                                <div class="time_value-hrs">Hrs</div>
                                <div class="time_value-mints">Mints</div>
                                <div class="time_value-secs">Secs</div>
                            </div>
                        </div>
                        <div class="price">$20.00</div>
                        <div class="buy">
                            <div class="buy_now"><a href="#">Buy now</a></div>
                        </div>
                        <div class="recommend">Recommend to friends!</div>
                        <div class="icon">
                            <div class="icon_facebook"><img src="img/facebook.png"></div>
                            <div class="icon_twitter"><img src="img/twitter.png"></div>
                            <div class="icon_mail"><img src="img/mail.png"></div>
                        </div>
                    </div>
                </div>
                <div class="map">
                    <script type="text/javascript" charset="utf-8" async
                            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aaf1bbc1e1d9d2e9f5074e0f9dec687e1ef96c006159c83ff1f31625e6cde831b&amp;width=100%25&amp;height=489&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
                <div id="vk_widget">
                    <div id="vk_groups"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="empty"></div>
</div>
<footer>
    <div class="wrapper">
        <div class="footer_empty"></div>
        <div class="footer-copy">© Носков П. И. 2018</div>
        <div class="footer_social">
            <div class="footer_social-facebook"><a href="#"><img src="img/footer_social-facebook.png" title="facebook"
                                                                 alt="facebook"></a></div>
            <div class="footer_social-twitter"><a href="#"><img src="img/footer_social-twitter.png" title="twitter"
                                                                alt="twitter"></a></div>
            <div class="footer_social-yahoo"><a href="#"><img src="img/footer_social-yahoo.png" title="yahoo"
                                                              alt="yahoo"></a></div>
            <div class="footer_social-youtube"><a href="#"><img src="img/footer_social-youtube.png" title="youtube"
                                                                alt="youtube"></a></div>
        </div>
    </div>
</footer>
<div class="popup">   <!--overlay-->
    <div class="popup_content">   <!--modal-->
        <span class="popup_content-close"></span>
        <p class="popup_content-p"></p>
    </div>
</div>
<script src="js/jquery-3.3.1.js"></script>
<script src="js/js.js"></script>
<script src="https://vk.com/js/api/openapi.js?152" type="text/javascript"></script>
</body>
</html>